<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Rafael Mejia/Desktop/OrionTek/src/main/java/calculator/FactorialCalculator.java">
        <classes>
            <class name="calculator.FactorialCalculator">
                <methods>
                    <include name="calculateNumber"/>
                    <include name="calculateCaracteres"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>